body {
    font-family: Arial;
    background: url('background.jpg');
}
h1 {
    color: black;
    text-align: center;
    padding: 10px;
    width: 820px;
    margin-left: auto;
    margin-right: auto;
    font-size: 40pt;
    opacity: 0.7;
    background: white;
    padding: 40px;
    border-radius: 10px;
    border: solid 2px orange;
}
h2 {
    color: white;
}
button {
    background: green;
    font-size: 24pt;
    padding: 10px;
    width: 400px;
    border-radius: 10px;
    color: white;
    font-weight: bold;
}
#divWinner {
    text-align: center;
    color: orange;
    font-size: 40pt;
    font-weight: bold;
    margin-top: 60px;
}

#divNames {
    margin: 50px;
}

#divWinnerName {
    text-align: center;
    color: white;
    font-size: 40pt;
    margin: 0px;
    font-weight: bold;
}

#divTrekning {
    margin: 20px;
    margin-bottom: 100px;
    display: none;
}

textarea {
    font-family: Arial;
    font-weight: bold;
}

.title {
    text-align: center;
    opacity: 0.8
}

.wrapper {
    text-align: center;
    opacity: 0.8;
    border-radius: 5px;
}

.wrapper-inner {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border: solid 3px orange;
    width: 900px;
    background: #333333;
    position: relative;
    border-radius: 10px;
}
